<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration>
    <appender name="FileAppender" class="org.apache.log4j.RollingFileAppender">
        <param name="file" value="orphaned_user_tool.log"/>
        <param name="MaxFileSize" value="4000KB"/>
        <!-- Keep one backup file -->
        <param name="MaxBackupIndex" value="1"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{HH:mm:ss,SSS} %-5p [%t] %C{1}: %m%n"/>
        </layout>
    </appender>

    <appender name="ConsoleAppender" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="conversionPattern" value="%d{HH:mm:ss,SSS} %-5p [%t] %C{1}: %m%n"/>
        </layout>
    </appender>

    <logger name="com.emc">
        <level value="WARN"></level>
    </logger>

    <logger name="com.emc.acdp.tool">
        <level value="INFO"></level>
    </logger>

    <root>
        <priority value="WARN"/>
        <appender-ref ref="FileAppender"/>
    </root>
</log4j:configuration>
