<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration>
	<appender name="ConsoleAppender" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
		  <param name="conversionPattern" value="%d{HH:mm:ss,SSS} %-5p [%t] %C{1}: %m%n"/>
		</layout>
	</appender>
 
 	<logger name="org.apache">
 		<level value="WARN"></level>
 	</logger>

	<root>
		<priority value="WARN" />
		<appender-ref ref="ConsoleAppender" />
	</root>
</log4j:configuration>
